/** Fonts **/


/** Colors **/
$color-primary: #007BFF;
$color-secondary: #ECE5DD;
$color-tertiary: #3D6A99;
$color-quaternary: #3D5166;
$color-quinary: #292E33;

//Hovers
$color-secondary-hover: #D1CBC6;


